@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentCreateViewModel

<p>@Model.Incident.IncidentNumber</p>
<p>@Model.ReasonTitle</p>
<p>@Model.IncidentFrom</p>
<p>@Model.PhoneNumber</p>
<p>@Model.Incident.Country</p>
<p>@Model.Incident.Region</p>
<p>@Model.Incident.City</p>
<p>@Model.Incident.Content</p>