@model IEnumerable<Asp.NetCore.MVC.Domain.Models.Tables.DbTableIncident>

<style>
table, th, td {
  border:2px solid black;
}
</style>


<table style="width:100%">
	<tr>
		<th>IncidentNumber</th>
		<th>Title</th>
		<th>Country</th>
		<th>Region</th>
		<th>City</th>
		<th>IncidentFrom</th>
		<th>PhoneNumber</th>
		<th>Content</th>
		<th>EditingDate</th>
	</tr>
	@foreach (var incindent in Model)
	{
		<tr>
			<td>@incindent.IncidentNumber</td>
			<td>@incindent.Title</td>
			<td>@incindent.Country</td>
			<td>@incindent.Region</td>
			<td>@incindent.City</td>
			<td>@incindent.IncidentFrom</td>
			<td>@incindent.PhoneNumber</td>
			<td>@incindent.Content</td>
			<td>@incindent.EditingDate</td>
		</tr>
	}
</table>