@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentViewModel

<p>@Model.IncidentNumber</p>
<p>@Model.Title</p>
<p>@Model.IncidentFrom</p>
<p>@Model.PhoneNumber</p>
<p>@Model.Country</p>
<p>@Model.Region</p>
<p>@Model.City</p>
<p>@Model.Content</p>