@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentFilterViewModel

<style>
table, th, td {
  border:2px solid black;
}
</style>

<form method="get">
	<div class="form-inline">
		@*<label class="control-label">Номер обращения</label>
		@Html.DropDownList("IncidentNumber", Model.IncidentGuid, new { @class = "form-control" })*@
		<label class="control-label">Источник обращения</label>
		@Html.DropDownList("IncidentFrom", Model.IncidentFrom, new { @class = "form-control" })
		<label class="control-label">Причина обращения</label>
		@Html.DropDownList("ReasonTitle", Model.ReasonTitle, new { @class = "form-control" })

		<input type="submit" value="Фильтр" class="btn btn-outline-dark"/>
	</div>
</form>

<table style="width:100%">
	<tr>
		<th>Номер обращения</th>
		<th>Причина обращения</th>
		<th>Страна</th>
		<th>Регион</th>
		<th>Город</th>
		<th>Источник обращения</th>
		<th>Номер телефона абонента</th>
		<th>Текст обращения</th>
		<th>Дата редактирования</th>
		<th>Действие</th>
	</tr>
	@foreach (var incindent in Model.Incidents)
	{
		<tr>
			<td>@incindent.IncidentNumber</td>
			<td>@incindent.ReasonTitle</td>
			<td>@incindent.Country</td>
			<td>@incindent.Region</td>
			<td>@incindent.City</td>
			<td>@incindent.IncidentFrom</td>
			<td>@incindent.PhoneNumber</td>
			<td>@incindent.Content</td>
			<td>@incindent.EditingDate</td>
			<td>
				@if (User.IsInRole("Administrator"))
				{
					<form asp-controller="Incident" asp-action="Edit" method="get">
						<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
						<input type="submit" value="Редактировать" class="btn btn-outline-dark"/>
					</form>
					<form asp-controller="Incident" asp-action="RemoveIncident">
						<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
						<input type="submit" value="Удалить" class="btn btn-outline-dark"/>
					</form>
				}
			</td>
		</tr>
	}
</table>