@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentFilterViewModel

<style>
table, th, td {
  border:2px solid black;
}
</style>

<form method="get">
	<div class="form-inline">
		<label asp-for="IncidentNumber"></label>
		<input asp-for="IncidentNumber" class="form-control" type="text">
		<label asp-for="ReasonTitle"></label>
		<select asp-for="ReasonTitle" class="form-control" asp-items="@Model.ReasonTitleList">
			@*<option value="">Выберите причину обращения</option>*@
		</select>
		<label asp-for="IncidentFrom"></label>
		<select asp-for="IncidentFrom" class="form-control" asp-items="@Model.IncidentFromList">
			@*<option value="">Выберите источник обращения</option>*@
		</select>
		<label asp-for="Country"></label>
		<input asp-for="Country" class="form-control" type="text">
		<label asp-for="Region"></label>
		<input asp-for="Region" class="form-control" type="text">
		<label asp-for="City"></label>
		<input asp-for="City" class="form-control" type="text">
		<label asp-for="PhoneNumber"></label>
		<input asp-for="PhoneNumber" class="form-control" type="text">
		@*<label class="control-label">Источник обращения</label>
		@Html.DropDownList("IncidentFromList", Model.IncidentFromList, new { @class = "form-control" })
		<label class="control-label">Причина обращения</label>
		@Html.DropDownList("ReasonTitleList", Model.ReasonTitleList, new { @class = "form-control" })
*@
		<input type="submit" value="Фильтр" class="btn btn-outline-dark"/>
	</div>
</form>

<table style="width:100%">
	<tr>
		<th>Номер обращения</th>
		<th>Причина обращения</th>
		<th>Страна</th>
		<th>Регион</th>
		<th>Город</th>
		<th>Источник обращения</th>
		<th>Номер телефона абонента</th>
		<th>Текст обращения</th>
		<th>Дата редактирования</th>
		<th>Действие</th>
	</tr>
	@foreach (var incindent in Model.Incidents)
	{
		<tr>
			<td>@incindent.IncidentNumber</td>
			<td>@incindent.ReasonTitle</td>
			<td>@incindent.Country</td>
			<td>@incindent.Region</td>
			<td>@incindent.City</td>
			<td>@incindent.IncidentFrom</td>
			<td>@incindent.PhoneNumber</td>
			<td>@incindent.Content</td>
			<td>@incindent.EditingDate</td>
			<td>
				@if (User.IsInRole("Administrator"))
				{
					<form asp-controller="Incident" asp-action="Edit" method="get">
						<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
						<input type="submit" value="Редактировать" class="btn btn-outline-dark"/>
					</form>
					<form asp-controller="Incident" asp-action="RemoveIncident">
						<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
						<input type="submit" value="Удалить" class="btn btn-outline-dark"/>
					</form>
				}
			</td>
		</tr>
	}
</table>