@model IEnumerable<Asp.NetCore.MVC.Domain.Models.Tables.DbTableIncident>

<style>
table, th, td {
  border:2px solid black;
}
</style>


<table style="width:100%">
	<tr>
		<th>IncidentNumber</th>
		<th>Title</th>
		<th>Author</th>
		<th>Requisites</th>
		<th>Content</th>
		<th>EditingDate</th>
	</tr>
	@foreach (var incindent in Model)
	{
		<tr>
			<td>@incindent.IncidentNumber</td>
			<td>@incindent.Title</td>
			<td>@incindent.Author</td>
			<td>@incindent.Requisites</td>
			<td>@incindent.Content</td>
			<td>@incindent.EditingDate</td>
		</tr>
	}
</table>