@model IEnumerable<Asp.NetCore.MVC.Domain.Models.Tables.DbTableIncident>

<style>
table, th, td {
  border:2px solid black;
}
</style>


<table style="width:100%">
	<tr>
		<th>Номер инцидента</th>
		<th>Заголовок</th>
		<th>Страна</th>
		<th>Регион</th>
		<th>Город</th>
		<th>Источник инцидента</th>
		<th>Номер телефона абонента</th>
		<th>Текст обращения</th>
		<th>Дата редактирования</th>
		<th>Действие</th>
	</tr>
	@foreach (var incindent in Model)
	{
		<tr>
			<td>@incindent.IncidentNumber</td>
			<td>@incindent.Title</td>
			<td>@incindent.Country</td>
			<td>@incindent.Region</td>
			<td>@incindent.City</td>
			<td>@incindent.IncidentFrom</td>
			<td>@incindent.PhoneNumber</td>
			<td>@incindent.Content</td>
			<td>@incindent.EditingDate</td>
			<td>
				<form asp-controller="Incident" asp-action="Edit" method="get">            
					<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
					<input type="submit" value="Редактировать" class="btn btn-outline-dark" />
				</form>
				<form asp-controller="Incident" asp-action="RemoveIncident">
					<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true" />
					<input type="submit" value="Удалить" class="btn btn-outline-dark" />
				</form>
			</td>
		</tr>
	}
</table>