@model Asp.NetCore.MVC.Domain.ViewModels.Incident.IncidentFilterViewModel

<style>
	.truncate {
		border: 1px hidden solid #245488;
		padding: 10px;
		width: 150px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
</style>

<div class="container">
	<form method="get">
		<div class="form-inline shadow p-3 mb-5 bg-light rounded">
			<label asp-for="IncidentNumber"></label>
			<input asp-for="IncidentNumber" class="form-control" type="text">
			<label asp-for="ReasonTitle"></label>
			<select asp-for="ReasonTitle" class="form-control" asp-items="@Model.ReasonTitleList">
			</select>
			<label asp-for="IncidentFrom"></label>
			<select asp-for="IncidentFrom" class="form-control" asp-items="@Model.IncidentFromList">
			</select>
			<label asp-for="Country"></label>
			<input asp-for="Country" class="form-control" type="text">
			<label asp-for="Region"></label>
			<input asp-for="Region" class="form-control" type="text">
			<label asp-for="City"></label>
			<input asp-for="City" class="form-control" type="text">
			<label asp-for="PhoneNumber"></label>
			<input asp-for="PhoneNumber" class="form-control" type="text">
			<label asp-for="CreateTime"></label>
			<input asp-for="CreateTime" class="form-control" type="date">

			<input type="submit" value="Фильтрация" class="btn btn-outline-dark m-1"/>
		</div>
	</form>


	<table class="table table-striped shadow p-3 mb-5 bg-light rounded">
		<thead>
		<tr>
			<th>Номер обращения</th>
			<th>Причина обращения</th>
			<th>Страна</th>
			<th>Регион</th>
			<th>Город</th>
			<th>Источник обращения</th>
			<th>Номер телефона абонента</th>
			<th>Текст обращения</th>
			<th>Дата редактирования</th>
			<th>Действие</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var incindent in Model.Incidents)
		{
			<tr>
				<th scope="row">@incindent.IncidentNumber</th>
				<td>@incindent.ReasonTitle</td>
				<td>@incindent.Country</td>
				<td>@incindent.Region</td>
				<td>@incindent.City</td>
				<td>@incindent.IncidentFrom</td>
				<td>@incindent.PhoneNumber</td>
				<td>
					<div class="truncate">@incindent.Content</div>
				</td>
				<td>@incindent.EditingDate</td>
				<td>
					<div class="btn-group" role="group">
						@if (User.IsInRole("Administrator"))
						{
							<form asp-controller="Incident" asp-action="Edit" method="get">
								<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
								<input type="submit" value="Редактировать" class="btn btn-outline-dark"/>
							</form>
							<form asp-controller="Incident" asp-action="RemoveIncident">
								<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
								<input type="submit" value="Удалить" class="btn btn-outline-dark"/>
							</form>
						}
						<form asp-controller="Incident" asp-action="GetIncident" method="get">
							<input type="number" id="id" name="id" value="@incindent.IncidentNumber" hidden="true"/>
							<input type="submit" value="Подробнее" class="btn btn-outline-dark"/>
						</form>
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>